--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.57.0
torch==2.6.0
torchvision==0.21.0
opencv-python-headless==4.13.0.88
albumentations==2.0.8
segmentation-models-pytorch==0.5.0
plotly==6.7.0
requests==2.32.5
pillow==12.1.1
numpy==2.2.6
matplotlib==3.10.7
timm==1.0.22
